<div class="fixed-bottom d-none d-md-block">
        <img src="../assets/game_img/Archery.png" style="width: 15%; margin-bottom:2.7rem;  transform: rotate(-20deg);"
                alt="Archery">
</div>
<div class="fixed-bottom d-none d-md-block">
        <img src="../assets/game_img/Olympics.png" class="float-end"
                style="width: 15%; margin-bottom:3.5rem; margin-right:1.5em" alt="Olympics">
</div>


<div class="fixed-bottom bg-dark text-center mb-4">
        <footer class="footer mt-auto py-1 dark-bg">
                <a href="#" class="footer-link p-3" target="_blank"><i class="bi bi-facebook text-light" width="32"
                                height="32" role="img" aria-label="Facebook"></i></a>
                <a href="#" class="footer-link p-3" target="_blank"><i class="bi bi-twitter text-light" width="32"
                                height="32" role="img" aria-label="Twitter"></i></a>
                <a href="#" class="footer-link p-3" target="_blank"><i class="bi bi-linkedin text-light" width="32"
                                height="32" role="img" aria-label="LinkedIn"></i></a>
                <a href="#" class="footer-link p-3" target="_blank"><i class="bi bi-whatsapp text-light" width="32"
                                height="32" role="img" aria-label="WhatsApp"></i></a>
                <a href="mailto:dibeshrsubedi@gmail.com" class="footer-link p-3"><i class="bi bi-envelope text-light"
                                width="32" height="32" role="img" aria-label="Email"></i>
                </a>
        </footer>
</div>

<div class="fixed-bottom bg-dark text-center">
        <a href="https://www.github.com/itSubeDibesh" target="_blank" class="text-decoration-none text-light">Made with
                <span class="text-danger">♥</span> By Dibesh Raj Subedi</a>
        </a>
</div>
<style>
        .footer-link:hover {
                text-align: center;
                background-color: #d43c00;
                border-radius: 10%;
                margin-bottom: 5em;
        }
</style>