<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-brand">
            <h3><strong>{{ app_name }}</strong></h3>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarNav">
            <ul class="navbar-nav ms-auto flex-nowrap">
                {{#ifEquals status "LoggedIn"}}
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="/settings"><strong> <i
                                class="bi bi-gear-wide-connected"></i> Settings</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="/logout"><strong> <i
                                class="bi bi-box-arrow-right"></i> Logout</strong></a>
                </li>
                {{/ifEquals}}
                {{#ifNotEquals status "LoggedIn"}}
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Home'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/"><strong> <i class="bi bi-house-fill"></i> Home</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifEquals title 'Login'}}router-link-exact-active{{/ifEquals}} text-light"
                        aria-current="page" href="/login"><strong> <i class="bi bi-unlock-fill"></i> Login</strong></a>
                </li>
                {{/ifNotEquals}}
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar-brand {
        font-family: 'Abril Fatface', cursive;
    }

    .router-link-exact-active {
        color: #fff;
        background-color: #00bcd4;
        border-color: #00bcd4;
        text-align: center;
    }

    .router-link-exact-active::after {
        content: "👇"
    }

    .nav-link:hover {
        color: #fff;
        background-color: #d43c00;
        border-color: #d43c00;
    }
</style>