<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="An online registration system for audiences to gain access to FunOlympic Games">
    <meta name="keywords" content="Fun Olympics">
    <meta name="keywords" content="Online registration system">
    <meta name="author" content="Dibesh Raj Subedi">

    <title>{{title}} {{#if action}}- {{action}} {{/if}}| Fun Olympics</title>

    <link rel="stylesheet" href="/vendors/css/lightbox.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/DataTables/datatables.min.css">
    <link rel="stylesheet" href="/fonts/google_font.css">
</head>

<body>

    {{>NavBar}}
    <div class="container mt-2 mb-5">
        {{>Alerts}}
        {{{body}}}
    </div>
    {{>Footer}}

    {{!-- <script src="https://www.youtube.com/iframe_api"></script> --}}
    <script src="/vendors/js/lightbox-plus-jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/DataTables/datatables.min.js"></script>
    <script src="/vendors/ckeditor.js"></script>

    <script src="/js/Custom.js"></script>
    <script src="/js/Country.js"></script>
    <script src="/js/Youtube.js"></script>

</body>

</html>