<style>
    @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

    .card-title {
        font-family: 'Bubblegum Sans', cursive;
    }

    .w-80 {
        width: 80% !important;
    }
</style>

<div class="container py-lg-5 mt-lg-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 d-none d-md-block">
            <img src="../assets/game_img/Coc.png" class="d-block w-80 img-thumbnail" alt="Clash Of Clans">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-lg-5">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Forget Password</h2>
                </div>
                <div class="card-body">
                    <p class="card-text text-center text-danger"><strong>Forget Password? Enter your email and click rest to get reset link.</strong></p>
                    <form class="form" action="/reset" method="post">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" required
                                placeholder="name@example.com">
                            <label for="email">Email address</label>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" value="Login" class="btn btn-success"><i
                                    class="bi bi-door-open-fill"></i> Reset</button>
                        </div>
                        <div class="text-center">
                            <a href="/login" class="btn">Remember Account? <span
                                    class="link-primary"><b>Login</b></span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>