<style>
    @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

    .card-title {
        font-family: 'Bubblegum Sans', cursive;
    }

    .w-80 {
        width: 80% !important;
    }
</style>

<div class="container py-lg-5 mt-lg-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 d-none d-md-block">
                <img src="../assets/game_img/Kick boxing.png" class="d-block w-80 img-thumbnail" alt="Kick boxing">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-lg-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Register</h2>
                </div>
                <div class="card-body">
                    <form class="form"action="/register" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="Email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password"  name="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="retype" class="form-label">Retype Password</label>
                                <input type="password" class="form-control" name="retype" id="retype" required>
                            </div>
                            <div class="mb-3 form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="showPassword" required>
                                <label class="form-check-label" for="showPassword">Show Password</label>
                            </div>
                            <div class="mb-3 text-center">
                                <button type="submit" value="Register" id="register" class="btn btn-success"><i class="bi bi-unlock-fill"></i> Register</button>
                            </div>
                            <div class="text-center">
                                <a href="/login" class="btn">Have and account? <span class="link-primary"><b>Login</b></span></a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>