<style>
    @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

    .card-title {
        font-family: 'Bubblegum Sans', cursive;
    }

    .w-80 {
        width: 80% !important;
    }
</style>

<div class="container  position-relative">
    <div class="row">
        <div class="py-lg-5 mt-lg-5 col-sm-12 col-md-6 col-lg-6 d-none d-md-block">
            <a data-lightbox="image-1" data-title="Kick boxing" href="../assets/game_img/Kick boxing.png"> <img
                    src="../assets/game_img/Kick boxing.png" class="d-block w-80 img-thumbnail" alt="Kick boxing"></a>
        </div>
        <div class="py-lg-2 mt-lg-2 col-sm-12 col-md-6 col-lg-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">Register</h2>
                </div>
                <div class="card-body">
                    {{#if validation}}
                    {{#each validation}}
                    <div class="alert alert-fixed alert-danger alert-dismissible show d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                            aria-label="Validation Error:">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <div>
                            {{this.msg}}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {{/each}}
                    {{/if}}
                    <form class="form" action="/register" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="xyz@abc.com" aria-describedby="Email" name="email"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Bob doe" aria-describedby="Full Name" name="name"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phoneNumber" placeholder="+97798XXXXXXXX" aria-describedby="Phone Number" name="phoneNumber"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" name="country"  active_value="NP" required></select>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="********" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="retype" class="form-label">Retype Password</label>
                            <input type="password" class="form-control"  placeholder="********" name="retype" id="retype" required>
                        </div>
                        <div class="mb-3 form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="showPassword">
                            <label class="form-check-label" for="showPassword">Show Password</label>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="submit" value="Register" id="register" class="btn btn-success"><i
                                    class="bi bi-unlock-fill"></i> Register</button>
                        </div>
                        <div class="text-center">
                            <a href="/login" class="btn">Have and account? <span
                                    class="link-primary"><b>Login</b></span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>