<div class="container py-lg-3 mt-lg-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ol class="list-group list-group-numbered list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Manchester Vs Laila</div>
                        Football
                    </div>
                    <a href="/login" class="text-decoration-none"><span
                            class="badge bg-primary rounded-pill">14/01/2021</span></a>
                    &nbsp;
                    <a href="/login" class="text-decoration-none"><span class="badge bg-success rounded-pill">Mark Read</span></a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Content for list item
                    </div>
                    <a href="/login" class="text-decoration-none"><span
                            class="badge bg-primary rounded-pill">14/01/2021</span></a>
                    &nbsp;
                    <a href="/login" class="text-decoration-none"><span class="badge bg-success rounded-pill">Mark Read</span></a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Content for list item
                    </div>
                    <a href="/login" class="text-decoration-none"><span
                            class="badge bg-primary rounded-pill">14/01/2021</span></a>
                    &nbsp;
                    <a href="/login" class="text-decoration-none"><span class="badge bg-success rounded-pill">Mark Read</span></a>
                </li>
            </ol>
        </div>
    </div>
</div>